@import "/src/assets/styles/base.css";
@import "./assets/styles/variables.css";
@import "./assets/styles/components.css";
@import "./assets/styles/animations.css";


@tailwind base;
@tailwind components;
@tailwind utilities;
